
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'bourbon';
@import 'normalize';
@import '../libs/owl.carousel/dist/assets/owl.carousel';
@import 'my-css';
// @import 'burger';
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
* {
	margin: 0;
	padding: 0;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
	box-sizing: border-box;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}
html, body {
	margin: 0 auto;
	height: 100%;
}
body {
	margin: 0 auto;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width : 1920px) {

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}
