
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'bourbon';
@import 'normalize';
@import '../libs/owl.carousel/dist/assets/owl.carousel';
@import 'my-css';
// @import 'toggle_menu';
// @import 'burger';
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
a,
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
	box-sizing: border-box;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}
html, body {
	margin: 0 auto;
	height: 100%;
}
body {
	margin: 0 auto;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
}
.v_fix {
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}

}
.nav_top {
	height: 80px;
	background: #00bfe8;
	padding: 23px 0 23px 40px;
}
.logo {
	position: relative;
	padding-left: 30px;
	color: #0083a9;
	font-family: Lobster;
	font-size: 29px;
	font-weight: 400;
	line-height: 30px;
	&:before {
		position: absolute;
		content: '';
		width: 28px;
		height: 36px;
		top: -4px;
		left: -10px;
		background: url(../img/logo.png) no-repeat;
	}
	img {
		margin: 0 5px 0 0;
		line-height: 35px;
	}
}
.nav_main {
	position: fixed;
	width: 314px;
	height: 100%;
	overflow-y: auto;
	background-color: #2f3b4c;
	color: #b0bec5;
	transform: translateX(-314px);
	transition: transform 0.3s ease;
	.user {
		padding: 40px 30px 15px;
		.user_icon {
			display: block;
			position: relative;
			&:after {
				position: absolute;
				top: 42px;
				left: 50px;
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 4px solid #2f3b4c;
				background-color: #33de80;
			}
			.status {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.user_name {
	    padding: 13px 0 0 16px;
			p {
				font-family: 'Museo Sans Cyrl', sans-serif;
				color: #ffffff;
				font-weight: 300;
				font-size: 25px;
				line-height: 1;
			}
			p.loc {
				color: #b0bec5;
				font-size: 17px;
			}
		}
	}
}
.nav_bar {
	position: relative;
	&:after {
		position: absolute;
		bottom: -10px;
		left: 30px;
		content: '';
		width: 254px;
		height: 1px;
		background: #555f72;
	}
	li {
		position: relative;
		padding: 13px 0 13px 72px;
		border-left: 4px solid #2f3b4c;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 32px;
			width: 30px;
			height: 25px;
			background: url(../img/icon_sprite.png) no-repeat;
		}
		&:hover {
			background-color: #2a3344;
			border-left: 4px solid #00bfe8;
			transition: .2s;
		}
		a {
			color: #b0bec5;
			font-size: 17px;
			font-family: 'Museo Sans',sans-serif;
			line-height: 0;
			font-weight: 500;
			width: 100%;
		}
		.info:after {
			color: #ffffff;
			font-family: 'Museo Sans',sans-serif;
			font-size: 13px;
			font-weight: 500;
			line-height: 22px;
			text-align: center;
			content: '32';
			position: absolute;
			top: 18px;
			right: 3px;
			width: 38px;
			height: 20px;
			margin-right: 30px;
			border-radius: 10px;
			background-color: #00bfe8;
		}
	}
	.dash:before {background-position: 0 0;}
	.mesg:before {background-position: 0 -22px;}
	.elem:before {background-position: 0 -49px;}
	.chr:before {background-position: 0 -74px;}
	.cal:before {background-position: 0 -100px;}
}
.settings {
	padding: 25px 0 0 0;
	li {
		position: relative;
		padding: 10px 0 10px 40px;
		border-left: 4px solid #2f3b4c;
		&:hover {
			background-color: #2a3344;
			border-left: 4px solid #00bfe8;
			transition: .2s;
		}
	}
	a {
		color: #b0bec5;
		font-size: 17px;
		font-family: 'Museo Sans',sans-serif;
		line-height: 0;
		font-weight: 500;
		width: 100%;
	}
}
.head_wrap {
	height: 100%;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.menu_tog {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	.toggle {
		position: relative;
		background: url('../img/Menu-Button.png') no-repeat;
	  left: 0;
	  display: inline-block;
	  width: 21px;
	  height: 18px;
		&:before {
			content: '';
	    position: absolute;
			left: -12px;
			top: 5px;
			border: 4px solid transparent;
			border-right: 6px solid #00bfe8;
			transition: top 1s ease-out 0.5s;
		}
	}
	a.toggle.on:before {
		display: none;
	}
}
.wrap {
	width: 100%;
	height: 100%;
	margin-left: 0;
	background-color: #eceef2;
	transition: padding 0.3s ease;
}
.off {
		transition: left .3s;
		margin-left: 0;
	}
.section_header {
	padding: 0 20px;
	background-color: #fff;
	height: 80px;
}
.page-wrap {
	overflow-x: hidden;
	width: 100%;
	&.active {
		.wrap {
			padding-left: 314px;
		}
		.nav_main {
			transform: translateX(0);
		}
	}
}
// search
.search_box {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
}
#search input[type="text"]:hover,
#search input[type="text"]:focus {
  width: 200px;
  border: 1px solid #b0bec5;
  border-radius: 50px;
  padding-left: 35px;
}
#search input[type="text"] {
  background: #fff url("../img/search.png")no-repeat center left 6px;
  width: 0px;
	outline: none;
  font-size: 13px;
  color: #b0bec5;
  padding: 10px 10px 10px 25px;
  transition: all 0.5s ease-in-out;
  z-index: 9;
  border-radius: 50px;
	border: none;
  left: 5px;
}
.header_wrap {
	a {
		display: inline-block;
	}
}
a.head_settings {
	vertical-align: middle;
	margin-right: 23px;
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../img/settings.png) no-repeat;
}
a.log_out {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../img/log-out.png) no-repeat;
}
// section_info
.section_info {
	padding: 20px 20px;
}
.total_sales,
.quote,
.products,
.orders {
	height: 95px;
	background: #fff;
	position: relative;
}
.total_icon {
	display: inline-block;
	text-align: center;
	height: 100%;
	background: #ff8761;
	width: 70px;
	margin-right: 20px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.title_sales {
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 500;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color: #ff8761;
	span {
		line-height: 18px;
		display: block;
		font-size: 18px;
		color: #000;
	}
}
.quote_icon {
	display: inline-block;
	text-align: center;
	height: 100%;
	background: #57bdde;
	width: 70px;
	margin-right: 20px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.title_quote {
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 500;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color: #ff8761;
	span {
		line-height: 18px;
		display: block;
		font-size: 18px;
		color: #000;
	}
}
.orders_icon {
	display: inline-block;
	text-align: center;
	text-align: center;
	height: 100%;
	width: 70px;
	margin-right: 20px;
	background: #b198dc;
}
.title_orders {
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 500;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color: #ff8761;
	span {
		line-height: 18px;
		display: block;
		font-size: 18px;
		color: #000;
	}
}
.products_icon {
	display: inline-block;
	text-align: center;
	text-align: center;
	height: 100%;
	width: 70px;
	margin-right: 20px;
	background: #6dc7be;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.title_products {
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 500;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color: #ff8761;
	span {
		line-height: 18px;
		display: block;
		font-size: 18px;
		color: #000;
	}
}
.visitors {
	margin: 20px 0 20px 0;
	background-color: #fff;
	padding: 10px;
}
.sales {
	margin: 20px 0 20px 0;
	background-color: #fff;
	padding: 10px;
}
.profit {
	background-color: #fff;
	padding: 10px;
}
.traffic {
	background-color: #fff;
	padding: 10px;
}
#traffic {
  flex: 1;
	min-width: 420px;
	max-width: 400px;
  max-height: 380px;
	min-height: 380px;
	justify-content: center;
}
//Profile
.profile {
	text-align: center;
	position: relative;
	height: 400px;
	background-color: #fff;
	color: #fff;
}
.prof_head {
	text-align: center;
	background: url('../img/bg-profile.png') no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 155px;
	padding-top: 50px;
	margin-bottom: 80px;
	// height: 100%;
	p {
		font-weight: 700;
		font-size: 20px;
		line-height: normal;
	}
	p.profile_loc {
		font-size: 15px;
		font-weight: 300;
		padding: 5px 0 20px;
	}
}
.prof_avatar {
	position: absolute;
	width: 100%;
	.ava {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		border: 5px solid #fff;
		bottom: -50%;
	}
}
.prof_content {
	color: #78909c;
	font-family: "Museo Sans";
	font-size: 15px;
	font-weight: 500;
	line-height: 19px;
	padding: 0 40px 40px;
}
.prof_bot {
	line-height: 25px;
	padding-bottom: 30px;
	.prof_bot_item {
		display: inline-block;
		position: relative;
		margin-right: 57px;
		&:after {
			content: '';
			width: 1px;
			height: 49px;
			background-color: #cfd8dc;
			position: absolute;
			top: 0;
			right: -25px;
		}
		&:last-child {
			margin-right: 0;
			&:after {
			display: none;
			}
		}
	}
	p.quantity {
		color: #2f3b4c;
		font-size: 33px;
		font-weight: 30;
	}
	p.descr {
		color: #78909c;
		font-size: 17px;
		font-weight: 500;
	}
}
//Profile End
.section_progressbar {
	margin: 0 20px 40px;
	height: 280px;
	background-color: #fff;
}
.progress_top {
	border-bottom: 1px solid #dae4e8;
	.title {
		padding: 20px 0 20px 30px;
		color: #2f3b4c;
		font-family: "Museo Sans";
		font-size: 25px;
		font-weight: 300;
	}
	.vote {
		padding: 30px 78px 0;
		color: #90a4ae;
		font-family: "Museo Sans";
		font-size: 17px;
		font-weight: 500;
		position: relative;
		&:before {
			position: absolute;
			top: 33px;
			right: 30px;
			content: '';
			height: 22px;
			width: 22px;
			background: url('../img/icon_sprite.png') no-repeat;
			background-position: -216px -1px;
		}
	}
}
.progress {
	height: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
	background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
	background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
	background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
	height: 8px;
	background-color: #ebeef1;
	background-image: none;
	box-shadow: none;
}
.col_1 {
	width: 30%;
	p.reting {
		position: relative;
		padding: 10px 57px;
		border-bottom: 1px solid #dae4e8;
		border-right: 1px solid #dae4e8;
		color: #90a4ae;
		font-family: "Museo Sans";
		font-size: 17px;
		font-weight: 500;
		height: 49px;
		display: block;
		&:last-child {
			border-bottom: none;
		}
		&:before {
			background: url(../img/icon_sprite.png) no-repeat;
			content: '';
			position: absolute;
			top: 14px;
	    left: 30px;
			width: 18px;
			height: 18px;
		}
		&.item1:before {
				background-position: -40px -3px;
		}
		&.item2:before {
				background-position: -66px -3px;
		}
		&.item3:before {
				background-position: -91px -3px;
		}
		&.item4:before {
				background-position: -115px -3px;
		}
	}
}
.col_2 {
	width: 63%;
}
.progress_wrap {
	padding: 20px 40px;
	border-bottom: 1px solid #dae4e8;
	border-right: 1px solid #dae4e8;
	&:last-child {
		border-bottom: none;
	}
}
.col_3 {
	width: 7%;
	text-align: center;
	.percent {
		position: relative;
		border-bottom: 1px solid #dae4e8;
		color: #90a4ae;
		font-family: "Museo Sans";
		font-size: 17px;
		font-weight: 500;
		height: 49px;
		display: block;
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 100%;
			vertical-align: middle;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
.progress-bar {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
	background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
	background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
	background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
	box-shadow: none;
	border-radius: 3px;
	background-color: #0090D9;
	background-image: none;
	-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.progress-bar-success {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
	background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
	background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
	background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}
.progress-bar-success {
	background-color: #0AA699;
	background-image: none;
}
.progress-bar-info {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
	background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
	background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}
.progress-bar-info {
	background-color: #0090D9;
	background-image: none;
}
.progress-bar-warning {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
	background-image: -webkit-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
	background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
	background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}
.progress-bar-warning {
	background-color: #FDD01C;
	background-image: none;
}
.progress-bar-danger {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9534f),to(#c9302c));
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c9302c 100%);
	background-image: -moz-linear-gradient(top,#d9534f 0,#c9302c 100%);
	background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ffc9302c',GradientType=0);
}
.progress-bar-danger {
	background-color: #F35958;
	background-image: none;
}
@media only screen and (max-width : 1920px) {

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}
