
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'bourbon';
@import 'normalize';
@import '../libs/owl.carousel/dist/assets/owl.carousel';
@import 'my-css';
// @import 'toggle_menu';
// @import 'burger';
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
a,
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
	box-sizing: border-box;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}
html, body {
	margin: 0 auto;
	height: 100%;
}
body {
	margin: 0 auto;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
}
.nav_top {
	height: 80px;
	background: #00bfe8;
	padding: 23px 0 23px 40px;
}
.logo {
	position: relative;
	padding-left: 30px;
	color: #0083a9;
	font-family: Lobster;
	font-size: 29px;
	font-weight: 400;
	line-height: 30px;
	&:before {
		position: absolute;
		content: '';
		width: 28px;
		height: 36px;
		top: -4px;
		left: -10px;
		background: url(../img/logo.png) no-repeat;
	}
	img {
		margin: 0 5px 0 0;
		line-height: 35px;
	}
}
.nav_main {
	position: fixed;
	width: 314px;
	height: 100%;
	overflow-y: auto;
	background-color: #2f3b4c;
	color: #b0bec5;
	transform: translateX(-314px);
	transition: transform 0.3s ease;
	.user {
		padding: 40px 30px 15px;
		.user_icon {
			display: block;
			position: relative;
			&:after {
				position: absolute;
				top: 42px;
				left: 50px;
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 4px solid #2f3b4c;
				background-color: #33de80;
			}
			.status {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.user_name {
	    padding: 13px 0 0 16px;
			p {
				font-family: 'Museo Sans Cyrl', sans-serif;
				color: #ffffff;
				font-weight: 300;
				font-size: 25px;
				line-height: 1;
			}
			p.loc {
				color: #b0bec5;
				font-size: 17px;
			}
		}
	}
}
.nav_bar {
	position: relative;
	&:after {
		position: absolute;
		bottom: -10px;
		left: 30px;
		content: '';
		width: 254px;
		height: 1px;
		background: #555f72;
	}
	li {
		position: relative;
		padding: 13px 0 13px 72px;
		border-left: 4px solid #2f3b4c;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 32px;
			width: 30px;
			height: 25px;
			background: url(../img/icon_sprite.png) no-repeat;
		}
		&:hover {
			background-color: #2a3344;
			border-left: 4px solid #00bfe8;
			transition: .2s;
		}
		a {
			color: #b0bec5;
			font-size: 17px;
			font-family: 'Museo Sans',sans-serif;
			line-height: 0;
			font-weight: 500;
			width: 100%;
		}
		.info:after {
			color: #ffffff;
			font-family: 'Museo Sans',sans-serif;
			font-size: 13px;
			font-weight: 500;
			line-height: 22px;
			text-align: center;
			content: '32';
			position: absolute;
			top: 18px;
			right: 3px;
			width: 38px;
			height: 20px;
			margin-right: 30px;
			border-radius: 10px;
			background-color: #00bfe8;
		}
	}
	.dash:before {background-position: 0 0;}
	.mesg:before {background-position: 0 -22px;}
	.elem:before {background-position: 0 -49px;}
	.chr:before {background-position: 0 -74px;}
	.cal:before {background-position: 0 -100px;}
}
.settings {
	padding: 25px 0 0 0;
	li {
		position: relative;
		padding: 10px 0 10px 40px;
		border-left: 4px solid #2f3b4c;
		&:hover {
			background-color: #2a3344;
			border-left: 4px solid #00bfe8;
			transition: .2s;
		}
	}
	a {
		color: #b0bec5;
		font-size: 17px;
		font-family: 'Museo Sans',sans-serif;
		line-height: 0;
		font-weight: 500;
		width: 100%;
	}
}
.head_wrap {
	height: 100%;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.menu_tog {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	.toggle {
		position: relative;
		background: url('../img/Menu-Button.png') no-repeat;
	  left: 0;
	  display: inline-block;
	  width: 21px;
	  height: 18px;
		&:before {
			content: '';
	    position: absolute;
			left: -12px;
			top: 5px;
			border: 4px solid transparent;
			border-right: 6px solid #00bfe8;
			transition: top 1s ease-out 0.5s;
		}
	}
	a.toggle.on:before {
		display: none;
	}
}
.wrap {
	width: 100%;
	height: 100%;
	margin-left: 0;
	background-color: #eceef2;
	transition: padding 0.3s ease;
}
.off {
		transition: left .3s;
		margin-left: 0;
	}
.section_header {
	padding: 0 20px;
	background-color: #fff;
	height: 80px;
}
.page-wrap {
	overflow-x: hidden;
	width: 100%;
	&.active {
		.wrap {
			padding-left: 314px;
		}
		.nav_main {
			transform: translateX(0);
		}
	}
}
// search
.search_box {
	display: inline-block;
	vertical-align: middle;
}
#search input[type="text"]:hover,
#search input[type="text"]:focus {
  width: 200px;
  border: 1px solid #b0bec5;
  border-radius: 50px;
  padding-left: 35px;
}
#search input[type="text"] {
  background: #fff url("../img/search.png")no-repeat center left 6px;
  width: 0px;
	outline: none;
  font-size: 13px;
  color: #b0bec5;
  padding: 10px 10px 10px 25px;
  transition: all 0.5s ease-in-out;
  z-index: 9;
  border-radius: 50px;
	border: none;
  left: 5px;
}
.header_wrap {
	a {
		display: inline-block;
	}
}
a.head_settings {
	vertical-align: middle;
	margin-right: 23px;
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../img/settings.png) no-repeat;
}
a.log_out {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../img/log-out.png) no-repeat;
}
// section_info
.section_info {
	padding: 20px 20px;
}
.total_sales,
.quote,
.products,
.orders {
	height: 95px;
	background: #fff;
}
.total_icon {
	display: inline-block;
	text-align: center;
	height: 100%;
	background: #ff8761;
	width: 70px;
	margin-right: 25px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.title_sales {
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 500;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color: #ff8761;
	vertical-align: middle;
	span {
		display: block;
		font-size: 14px;
		color: #000;

	}
}
.quote_icon {
	display: inline-block;
	text-align: center;
	text-align: center;
	height: 100%;
	background: #57bdde;
	width: 70px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.orders_icon {
	text-align: center;
	height: 100%;
	background: #b198dc;
	width: 70px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.products_icon {
	text-align: center;
	height: 100%;
	background: #6dc7be;
	width: 70px;
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
.visitors {
	margin: 20px 0 20px 0;
	background-color: #fff;
	padding: 10px;
}
.sales {
	margin: 20px 0 20px 0;
	background-color: #fff;
	padding: 10px;
}
.profit {
	background-color: #fff;
	padding: 10px;
}
.traffic {
	background-color: #fff;
	padding: 10px;
}
.profile {
	text-align: center;
	position: relative;
	background: url('../img/bg-profile.png') no-repeat;
	background-size: contain;
	height: 400px;
	background-color: #fff;
	color: #fff;
	padding: 50px 0 0 0;
	p {
		font-weight: 700;
		font-size: 20px;
		line-height: normal;
	}
	p.profile_loc {
		font-size: 15px;
		font-weight: 300;
		padding: 5px 0 20px;
	}
	img {
		border-radius: 50%;
		border: 5px solid #fff;
	}
}

@media only screen and (max-width : 1920px) {

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}
